<nav class="ui inverted menu">
  <header class="header item"><a href="/"></i> MyTweet </a></header>

  {{>searchusermenu}}

  <div class="right menu">
    <a id="globaltimeline" class= "item" href="/timeline"> Global Timeline</a>
    <a id="logout" class= "item" href="/logout"> Logout</a>
  </div>
</nav>