<nav class="ui inverted blue menu">
  <header class="header item"><a href="/"></i> MyTweet </a></header>

  <div class="right menu">
  {{>searchusermenu}}
  </div>

  <div class="right menu">
    <a id="admindash" class= "item" href="/admindash"> Dashboard</a>
    <a id="globaltimeline" class= "item" href="/timeline"> Global Timeline</a>
    <a id="admin_register_user" class= "item" href="/registeruseradmin"> Register User</a>
    <a id="logout" class= "item" href="/logout"> Logout</a>
  </div>
</nav>

<!--active item passed as a parameter to the partial.
   active item set based on the parameter-->
<script>
  $("#{{_id}}").addClass("active item");      //set the active class for the menu item with the id '_id'
</script>