<section class="ui raised segment">
  <div class="ui raised center aligned segment">
    <div class="ui three statistics">
      <div class="statistic">
        <div class="value">
          <i class="users icon"></i>
        </div>
        <div class="label">
          {{numUsers}} Users
        </div>
      </div>
      <div class="statistic">
        <div class="value">
          <i class="twitter icon"></i>
        </div>
        <div class="label">
          {{numTweets}} Tweets
        </div>
      </div>
      <div class="statistic">
        <div class="value">
          <i class="line chart icon"></i>
        </div>
        <div class="label">
          {{tweetsPerUser}} Tweets per user
        </div>
      </div>
    </div>
  </div>
</section>