<div class="center aligned menu">
  <div class="ui form">
    <form action="/searcheduser" method="post">
      <div class="ui right icon input field">
        <input placeholder="Search User by Email" name="useremail" type="text"> <i
          class="user icon"></i>
      </div>
      <button class="ui submit button">Search <i class="search icon"></i></button>
    </form>
  </div>
</div>