<section class="ui raised segment">
  <div class="ui grid ">
    <div class="ui form six wide column">
      <div class="ui segment">
        <form action="/tweet" method="POST">
          <div class="field">
            <label>Tweet</label>
            <textarea id="data" rows="4" placeholder="What's on your mind?" type="text" name="tweetText" maxlength="140" ></textarea>
          </div>

          <span id="chars" class="ui basic label">140</span> characters remaining

          <div>
          <button class="ui blue submit button">Tweet</button>
          </div>
        </form>
      </div>
    </div>
    <aside class="six wide column">
      <img src="images/funny-twitter-bird.jpg" class="ui medium image">
    </aside>
  </div>
</section>


<!--http://geoffmuskett.com/really-simple-jquery-character-countdown-in-textarea/-->
<script>
  var maxLength = 140;
$('textarea').keyup(function() {
  var length = $(this).val().length;
  var length = maxLength-length;
  $('#chars').text(length);
});
</script>