<section class="ui raised segment">
  <div class="ui grid">
    <aside class="six wide column">
      <img src="images/twitterBird1.jpg" class="ui medium image">
    </aside>
    <article class="eight wide column">
      <table class="ui celled table segment">
        <thead>
        <tr>
          <th>Tweet</th>
          <th>Method donated</th>
          <th>Posted By</th>
        </tr>
        </thead>
        <tbody>
        {{#each tweets}}
          <tr>
            <td> {{tweetText}} </td>
            <td> {{method}} </td>
            <td> {{tweeter.firstName}} {{tweeter.lastName}} </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </article>
  </div>
</section>