
  <section class="ui grid ">
    <div class="ui form sixteen wide column">
      <div class="ui segment">
        <form action="/tweet" method="POST" enctype="multipart/form-data">
          <div class="field">
            <label>Tweet</label>
            <textarea id="data" rows="4" placeholder="What's on your mind?" type="text" name="tweetText" maxlength="140" ></textarea>
          </div>

          <span id="chars" class="ui basic label">140</span> characters remaining

          <div class="ui row"><br>
            <input type="file" name="picture">
          </div>

          <div><br>
          <button class="ui blue submit button">Tweet</button>
          </div>

        </form>
        {{>formerror}}
      </div>
    </div>
  </section>



<!--http://geoffmuskett.com/really-simple-jquery-character-countdown-in-textarea/-->
<script>
  var maxLength = 140;
$('textarea').keyup(function() {
  var length = $(this).val().length;
  var length = maxLength-length;
  $('#chars').text(length);
});
</script>