{{> mainmenu _id="home"}}

<section class="ui raised segment">
  <div class ="ui grid">
    <div class="six wide column">
      {{>profilecard}}
    </div>
    <div class="ten wide column">
      {{>tweet}}
    </div>
  </div>

  <div class="ui  divider"></div>

</section>