{{> mainmenu _id="loggedinusertimeline"}}

<section class="ui raised segment">
<h3 class="ui center aligned header">
  {{user.firstName}} {{user.lastName}}'s Timeline
</h3>

{{> loggedinusertweets }}
</section>