<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Tweeterville</title>
  <meta charset="UTF-8">
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js"></script>
  <link rel="stylesheet" media="screen" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css">
  <link rel="shortcut icon" type="image/png" href="favicon.png">
</head>

<body>
<section class="ui container">
  <nav class="ui inverted menu">
    <header class="header item"><a href="/"></a></header>
    <div class="right menu">
      <a class="item" href="/signup">Signup</a>
      <a class="item" href="/login">Login</a>
    </div>
  </nav>

  <section class="ui stacked segment">
    <div class="ui grid">
      <aside class="six wide column">
        <img src="images/twitter-lads.png" class="ui medium image">
      </aside>
      <article class="ten wide column">
        <header class="ui  header"> Help Me Tweet Springfield</header>
        <p> Tweet what you can now - No Geese accepted! </p>
      </article>
    </div>.
  </section>
</section>
</body>
</html>