<!DOCTYPE html>
<html>
<head>
  <title>Tweets</title>
  <meta charset="UTF-8">
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js"></script>
  <link rel="stylesheet" media="screen" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css">
</head>
<body>
<section class="ui container">
  <section class="ui stacked segment">
    <div class="ui grid">
      <aside class="six wide column">
        <img src="images/twitter-lads.png" class="ui medium image">
      </aside>
      <article class="ten wide column">
        <header class="ui  header"> Help Me Tweet Springfield</header>
        <p> Tweet what you can now - No Geese accepted! </p>
      </article>
    </div>
  </section>
</section>
</body>
</html>