{{> welcomemenu }}

  <section class="ui stacked segment">
    <div class="ui grid">
      <aside class="six wide column">
        <img src="images/twitter-lads.png" class="ui medium image">
      </aside>
      <article class="ten wide column">
        <header class="ui  header"> Help Me Tweet Tweeterville</header>
        <p> Tweet what you can now - No Geese accepted! </p>
      </article>
    </div>
  </section>
</section>
</body>
</html>