{{> adminmenu _id="admin_register_user"}}

<section class="ui raised segment">
  <div class="ui grid">
    <div class="ui ten wide column">
      <div class="ui stacked fluid form segment">
        <form action="/adminRegister" method="POST">
          <h3 class="ui header">Register A New User</h3>
          <div class="two fields">
            <div class="field">
              <label>First Name</label>
              <input placeholder="First Name" type="text" name="firstName" value="Barney">
            </div>
            <div class="field">
              <label>Last Name</label>
              <input placeholder="Last Name" type="text" name="lastName" value="Gumble">
            </div>
          </div>
          <div class="field">
            <label>Email</label>
            <input placeholder="Email" type="text" name="email" value="barney@gumble.com">
          </div>
          <div class="field">
            <label>Password</label>
            <input type="password" name="password" value="secret">
          </div>
          <button class="ui blue submit button">Submit</button>
        </form>
        {{>formerror}}    <!--placeholder in our register view to include formerror partial-->
      </div>
    </div>
    <aside class="ui five wide column">
      <img src="images/twitterBird2.jpg" class="ui medium image">
    </aside>
  </div>
</section>
