<nav class="ui inverted menu">
  <header class="header item"> <a href="/"> MyTweet </a> </header>
  <div class="right menu">
    <a class="item" href="/home"> Tweet</a>
    <a class="active item" href="/report">  Timeline </a>
    <a class="item" href="/logout">  Logout</a>
  </div>
</nav>

{{> tweetlist }}